//colors | Brand
// $brand-mint: #4ECCA3;
$brnad-grey: #393E46;
$brand-black: #232931;
$brand-white: #EEEEEE;

$brand-blue: #0097A7;
$brand-light-blue: #00BCD4;
$brand-blue-white: #B2EBF2;
// $brand-red: #FF5252;
$brand-red: rgb(209, 62, 62);

$pure-white: #FFFFFF;
$light-grey: #BDBDBD;

//font colors
$font-black: #212121;
$font-grey: #dfdfdf;
$font-white: #F4F4F4;

$green: #4caf50;

